 
* {
  box-sizing: border-box;
}

body {
  background-color: #504f4fce !important;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(232, 151, 22);
  font-size: 10rem;
  text-align: center;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
}

ul li {
  background-color: rgb(171, 242, 127) !important;
  list-style: circle;
  border-radius: 5px;
}

ul li:nth-child(odd) {
  background-color: rgb(133, 133, 247) !important;
  border-radius: 5px;
}



.input {
  border: none;
  color: #444;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos {
  /* background-color: #fff; */
  padding: 0;
  margin: 0;
  list-style: decimal;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  list-style: decimal;
}

.todos li:hover {
  color: #0808085f;
  text-decoration: line-through rgba(255, 0, 0, 0.513);
  list-style: disc;
}

.todos li.completed {
  color: #080808;
  text-decoration: line-through red;
  list-style: disc;
}


.todos li.completed:nth-child(odd){
  color: #2d3366;
  text-decoration: line-through red;
  list-style: disc;
}

small {
  color: #040404;
  margin-top: 3rem;
  text-align: center;
}

.main-con {
  margin-top: 20px;
  background-color: rgb(213, 203, 203);
  border-radius: 10px;
  border: none;
  width: 600px !important;
  height: 600px !important;
  overflow: scroll;
  box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 8px 5px 0px rgba(0,0,0,0.75);
}





.add {
  padding: 10px;
  margin: 0px;
  width: 80%;
  background: rgb(232, 151, 22);
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.sort {
  padding: 10px;
  margin: 0px;
  width: 80%;
  background: rgb(246, 216, 66);
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
#cleanBtn {
  background-color: aliceblue !important;
}
.add:hover {
  background-color: #bbb;
}
.sort:hover {
  background-color: #bbb;
}



/* Style Scroll bar */

::-webkit-scrollbar {
  width: 5px;
}
  ::-webkit-scrollbar-track {
  background: transparent; 
}
  ::-webkit-scrollbar-thumb {
  background: rgb(232, 151, 22); 
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
}

.btn {
  outline: none;
  box-shadow: none;
}
